<div class="event-photo buffer-both">
  <%= link_to image_tag(photo.photo.variant(:thumb)), photo.photo.url,
              class: "lightbox-toggle", data: { gallery: "example-gallery" } %>

  <%= t(".added") %> <%= render partial: "users/user", object: photo.user %>
  <%= link_to("", event_photo_path(photo.event, photo), method: :delete,
              data: { turbo_method: :delete, turbo_confirm: t(".destroy_confirm") },
              class: "btn btn-sm btn-warning bi bi-trash") %>
</div>
